@page
@model PrivacyModel
@{
}
<h1>@ViewData["Title"]</h1>

    <title>Kütüphane Projesi - Hakkında</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }

        .about-content {
            padding: 2em 0;
            text-align: center;
        }

        .cta {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 4em 0;
        }

            .cta h2 {
                margin-bottom: 1em;
            }

        button {
            display: inline-block;
            padding: 1em 2em;
            text-decoration: none;
            color: white;
            background-color: #e8491d;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

            button:hover {
                background-color: #333;
            }

    .bookimg {
        margin-bottom: 17px
    }
    </style>


    <div class="container about-content">
    <img src="https://trthaberstatic.cdn.wp.trt.com.tr/resimler/2058000/kutuphane-iha-2059040.jpg" height="300px" width="800px" alt="Kitap Resmi" class="bookimg">
        <p>
            Kütüphane Projesi, kitapseverlere geniş bir kitap koleksiyonu sunan bir dijital kütüphanedir. 2023 yılında kurulan projemiz, kullanıcılara kaliteli içeriklere hızlı ve kolay erişim imkanı sağlamayı amaçlamaktadır.
        </p>
        <p>
            Misyonumuz, okuma alışkanlıklarını desteklemek, öğrenmeyi teşvik etmek ve her yaştan kullanıcının edebiyat dünyasına daha yakından bağlanmasını sağlamaktır. Kütüphanemizde yer alan çeşitli kategorilerdeki kitaplarla herkesin ilgisini çekecek bir şeyler bulabileceğine inanıyoruz.
        </p>
    </div>