@page
@model LibraryProject.Pages.Authors.IndexModel
@{
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Yazar Adı</th>
            <th scope="col">Güncelle</th>
            <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AuthorList)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.FullName</td>
                <td>
                    <a href="/Authors/Update/@item.Id" type="button" class="btn btn-primary">
                          Güncelle
                    </a>
                </td>
                <td>
                    <a asp-page="/Authors/Index" asp-page-handler="Delete" asp-route-id="@item.Id" type=" button" class="btn btn-danger">
                        Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Authors/Create" type="button" class="btn btn-primary">
     Yazar Ekle </a>